body {
  font-family: Arial;
  background-color: #F4F4F4;
  padding: 30px;
  color: #333;
  background-image: url('./assets/bg.jpg');
  background-position: center;
  background-size: cover;
}

.app {
  max-width: 600px;
  margin: 0 auto 300px;
  background-color: #F7F7F5;
  border-radius: 20px;
  padding: 20px 30px;
}

h1 {
  text-align: center;
  color: #5B002B;
}

h2 {
  margin-bottom: 10px;
}

p {
  margin: 10px 0;
}

input {
  box-sizing: border-box;
}